################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GPO_MAIN/FileContentIndex
/.vs/GPO_MAIN/v17
/.vs
/backend/.env